html {
  background-size: cover;
}
main {
  position: absolute;
}
main, footer {
  color: rgba(255, 255, 255, 0.75);
}
main div > * {
  margin-bottom: 25px;
}
main p:first-child {
  font-weight: bold;
  line-height: 0.85;
}
main p:nth-child(2) {
  margin-top: -15px;
  line-height: 1.75;
}
main a {
  text-decoration: none;
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  html {
    background: url(../img/background576.jpg) no-repeat;
    background-size: cover;
    background-position: -180px;
  }
  main {
    bottom: 75px;
    width: 80%;
  }
  main p:first-child {
    font-size: 3em;
  }
  main p:nth-child(2) {
    font-size: 11px;
  }
}

@media screen and (min-width: 768px) {
  html {
    background: url(../img/background.jpg) no-repeat;
    background-size: cover;
  }
  main {
    width: 40%;
    bottom: 20%;
  }
  main p:first-child {
    font-size: 5em;
  }
  main p:nth-child(2) {
    font-size: 14px;
  }
}
