/* -- basic formating -- */
* {
  margin: 0;
  padding: 0;
  line-height: 1;
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 80%;
  margin: 0px auto;
}
header > div:first-child {
  padding: 10px;
  display: inline-block;
}
header > div:first-child span {
  font-size: 10px;
  vertical-align: top;
}
nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100%;
}
nav ul {
  display: block;
  margin: 0px auto;
}
nav a {
  display: block;
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: white;
}
div#hmbg {
  position: absolute;
  right: 20%;
  top: 20px;
  z-index: 2;
}
div#hmbg span, div#hmbg span:before, div#hmbg span:after {
  cursor: pointer;
  height: 3px;
  width: 35px;
  background: white;
  display: block;
  position: absolute;
  right:;
  content: '';
}
div#hmbg span:before {
  top: -8px;
}
div#hmbg span:after {
  bottom: -8px;
}
footer {
  text-align: center;
  width: 80%;
  position: absolute;
  bottom: 10px;
}
.cell-hide {
  display: none;
}
.cell-show-inline {
  display: inline-block;
}
.cell-show-block {
  display: block;
}

/* -- theming -- */
.thm-orng-wht {
  background: #ff4e00;
  color: white;
}

@media screen and (max-width: 767px) {
  nav li {
    margin: 
  }
  footer {
    font-size: 10px;
  }
}
