/* -- basic formating -- */
* {
  margin: 0;
  padding: 0;
  line-height: 1;
  box-sizing: border-box;
}
html {
  height: 100%;
  width: 100%;
}
body {
  height: 100%;
  width: 80%;
  margin: 0px auto;
}
header > div:first-child {
  padding: 10px;
  display: inline-block;
}
header > div:first-child span {
  font-size: 10px;
  vertical-align: top;
}

/* -- header navigation -- */
nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100%;
}
nav ul {
  list-style: none;
  position: relative;
  top: 25%;
}
ul li {
  text-align: center;
}
nav a {
  position: relative;
  text-align: center;
  text-decoration: none;
  color: white;
  transition: all 500ms ease-in-out;
}
nav a:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background: #ff4e00;
  visibility: hidden;
  transform: scaleX(0);
  transition: .25s linear;
  z-index: -1;
}
nav a:hover {
  color: #ff4e00;
}
nav a:hover:after,
nav a:hover:focus {
  visibility: visible;
  transform: scaleX(1);
}
div#hmbg {
  position: absolute;
  top: 5px;
  z-index: 2;
  cursor: pointer;
  padding: 15px 4px;
/*  height: 35px;
  width: 45px;*/
}
div#hmbg.menu-opened span {
  background-color: transparent;
}
div#hmbg.menu-opened span:before,
div#hmbg.menu-opened span:after {
  top: 0;
}
div#hmbg.menu-opened span:before {
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
}
div#hmbg.menu-opened span:after {
  transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
}
div#hmbg span, div#hmbg span:before, div#hmbg span:after {
  height: 3px;
  width: 30px;
  background: white;
  display: block;
  position: absolute;
  right:;
  content: '';
  transition: all 500ms ease-in-out;
}
div#hmbg span:before {
  top: -8px;
}
div#hmbg span:after {
  bottom: -8px;
}

/* -- site footer -- */
footer {
  text-align: center;
  width: 80%;
  position: absolute;
  bottom: 10px;
}
.cell-hide {
  display: none;
}
.cell-show-inline {
  display: inline-block;
}
.cell-show-block {
  display: block;
}

/* -- theming -- */
.thm-orng-wht {
  background: #ff4e00;
  color: white;
}

@media screen and (max-width: 767px) {
  nav ul li {
    font-size: 30px;
    margin-bottom: 30px;
  }
  div#hmbg {
    right: 5%;
  }
  footer {
    font-size: 10px;
  }
}

@media screen and (min-width: 768px) {
  body {
    width: 75%;
  }
  nav ul li {
    font-size: 25px;
    margin-bottom: 30px;
  }
  div#hmbg {
    right: 15%;
  }
  footer {
    width: 75%;
    font-size: 12px;
  }
}
