Options +Indexes

RewriteEngine On

RewriteRule \.(jpg|png|jpeg|bmp|gif|css|js)$ - [L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^(.+)$ /~victor/cellairis/public/index.php?request=$1 [L,QSA]
